target/
!.mvn/wrapper/maven-wrapper.jar

docker/dependency/
docker/target/
docker/*.yml
docker/*.xml
docker/*.jar

.classpath
.factorypath
.project
.settings
.springBeans

.idea
*.iws
*.iml
*.ipr
*.log

nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/application.log.1
Application/
